// Place all the styles related to the Github controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Trebuchet;
}
h1 {
  text-align: center;
}
tr, td, th {
    border: 1px solid black;

}
